  /* version 1.7 2017-09-27 */
  /* 모든 태그에 적용 */
  *{ font-family: Malgun Gothic; 
     font-size: 14px; 
     margin: 0px;  /* top right bottom left */
     padding: 0px;
     color: #555555;
  }  
  
  .container{
    width: 80%;
    margin: 0px auto; /* 0px: 위아래 간격, auto: 좌우 간격, 가운데 정렬 */
  }
  
    .container_body{
    width: 90%;
    margin: 0px auto; /* 0px: 위아래 간격, auto: 좌우 간격, 가운데 정렬 */
  }
 
  
  .content {
    width: 80%;
    margin: 0px auto;
    padding: 20px;
  }
     
  /* class='focus1' */
  .focus1{
    font-weight: bold; 
    font-size: 32px; 
    color: #00FF00; 
    background-color: #FFFF00;
  }
  
  /* 특정 단어 강조 */
  .focus2{
    font-weight: bold; 
    font-size: 32px; 
    color: #FFFFFF; 
    background-color: #FF0000;
  }
  
  A:link{  /* 방문전 상태 */
    text-decoration: none; /* 밑줄 삭제 */
    color: #555555;
  }
 
  A:visited{  /* 방문후 상태 */
    text-decoration: none; /* 밑줄 삭제 */
    color: #555555;
  }
 
  A:hover{  /* A 태그에 마우스가 올라간 상태 */
    text-decoration: underline; /* 밑줄 출력 */
    color: #5555FF;
  }
 
  A:active{  /* A 태그를 클릭한 상태 */
    text-decoration: underline; /* 밑줄 출력 */
    color: #5555FF;
  }  

  A.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
  }
  
  .label_basic {    
    width: 200px;
    background-color: #c0c0c0;
    display: inline-block;
    text-align: right;
  }  
  
  .li_none{
    list-style: none; /* 블렛 기호 생략 */
    margin: 10px 10px; /* 위아래 좌우 */
  }
  
  .title_box{
    color: #ffffff;
    width: 20%; 
    margin: 20px auto; 
    padding: 5px; 
    background-color: #919191; 
    border: solid 1px #000000; 
    text-align: center;
  }
  
  .title_line{
    color: #333333;
    width: 20%; 
    margin: 20px auto; 
    padding: 3px;    
    border-bottom: solid 2px #555555; 
    text-align: center;
  }
  
  
  .table_basic {
    margin: 10px auto; 
    border: solid 1px #AAAAAA; 
    width: 50%;
    border-collapse: collapse;
  }
  
  .th_basic {
    border: solid 1px #CCCCCC; 
    background-color: #c0c0c0;
  }
  
  .td_basic {
    border: solid 1px #CCCCCC; 
    background-color: #FFFFFF;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .td_left {
    border: solid 1px #CCCCCC; 
    background-color: #FFFFFF;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  .td_img {
    border: solid 1px #CCCCCC; 
    background-color: #FFFFFF;
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
  }
    
  .bottom_menu {
    margin: 20px auto; 
    text-align: center; 
    background-color: #FFFFFF;
    clear: both;
  }
  
  .top_menu1{
    color: #CCCCCC;
  }
  
  .fieldset_basic{
    width: 100%; 
    margin: 10px auto;
    border-left: none;
    border-right: none;
  }

  .fieldset_home{
    width: 90%; 
    margin: 10px auto;
    border-left: none;
    border-right: none;
  }

  .fieldset_no_line{
    border: none;
  }
    
  .legend_basic {
    margin: 0px 30px;
    border: solid 1px #AAAAAA;
    background-color: #808080;
    color: #FFFFFF;
    padding: 2px;
  }
  
  .legend_home {
    margin: 0px 30px;
    border: none;
    padding: 2px;
  }
  
  /* 이미지 파일을 찾을 때 style.css 파일을 기준으로 검색함. */
  .li_home {
    background: url(./images/bu6.gif) left center no-repeat;
    line-height: 20px;
    padding-left: 15px;
    list-style: none;
  }

  .li_center {
    text-align: center;
    list-style: none;
    margin: 20px auto;
  }

  .li_right {
    text-align: right;
    list-style: none;
    margin: 10px auto;
  }
  
    .bottom{
    clear: both;
    text-align: center;
    margin: 30px auto;
  }
      
  /* Menu 시작 ----------------------------------------
  <DIV id='top_menu', 페이지에서 1번만 사용됨  */
  .top_menu_label{
    position: relative; /* 속해 있는 부모 태그 기준 좌표 이동*/
    top: 0%;
    left: 0%;
    color: #333333;
    
  }
  
  #top_menu{
    margin-top: 0px; 
    width: 100%;
    height: 250px;
  }
  
  .top_menu_list{
    position: relative; /* 속해 있는 부모 태그 기준 좌표 이동*/
    top: 90%;
    left: 0%;
    background-color: rgba(140, 140, 140, 0.5); /* 0.2: Alpha 값 투명도 */   
    color: white;
  }

  /* 의사 클래스(pseudo-class) 를 이용한 CSS 적용, <A class='menu_link'  */
  .menu_link:link{
    color: white;
    text-decoration: none;
  }

  .menu_link:visited{  /* 방문후 상태 */
    color: white;
    text-decoration: none; /* 밑줄 삭제 */
  }
    
  .menu_link:hover{  /* A 태그에 마우스가 올라간 상태 */
    color: white;
    font-weight: bold;
    text-decoration: none; /* 밑줄 삭제 */
  }
  
  .menu_link:active{  /* A 태그를 클릭한 상태 */
    color: white;
    text-decoration: none; /* 밑줄 삭제 */

  }
 
  /* Menu 종료 ---------------------------------------- */
  
    
  /* ASIDE 서브메뉴의 시작 -------------------------- */
    .aside_menu{ /* 서브 메뉴 */
    width: 100%;
    border: none;
    margin: 10px auto;
  }

  .menu_line{
    width: 100%;
    border-bottom: dotted 1px #777777;
    margin: 20px 0px 10px 0px; /* top -> right -> bottom -> left */
  } 
  
  /* ASIDE 메뉴 세로 구분선 */
  .menu_divide{
    color: #777777;
    font-size: 0.8em; /* 주변에비해 글자를 80% 크기로 출력 */
  }  
  
    /* ASIDE 서브메뉴의 종료 -------------------------- */

  .input_basic {
    border-top: none;
    border-left: none;
    border-right: none;   
  }  
  
  .message {
    width: 70%;
    border: none;
    margin: 0px auto;
    text-align: center;
    background-color: #f2f2f2;
    padding: 30px;
  }
  
  .span_info {
    color: #FFFFFF;
    background-color: #d9e6f2;
    font-weight: bold;
  }
  
  
  .span_alert {
    color: #FFFFFF;
    background-color: #ffc6b3;
    font-weight: bold;
  }
  
  .span_warning {
    color: #FFFFFF;
    background-color: #ff6666;
    font-weight: bold;
  }
  
  .hr_dotted{
    width: 100%; 
    clear: both; 
    height: 1px; 
    border-top: dotted 1px #AAAAAA; 
    border-bottom: none;
    border-left: none;
    border-right: none; 
    margin: 10px auto;
  }
  
  .div_grid_img{
    background-color: #EEEEEE; 
    float: left; 
    position: relative; 
    left: 0%; 
    margin: 1%; 
    width: 23%; 
    height: 220px;
  }
  
  .popup1 {
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    position: absolute;
    top: 30%;
    left: 40%;
    width: 20%;
    height: 30%;
    background-color: #333333;
    opacity: 0.8;
    text-align: center;
    color: #ffffff;
  }
  
  
  .box1{
    border: solid 1px #555555;
    padding: 0px 3px 0px 3px; /* 시계방향 */
    background-color: #00AA00;
    color: #FFFFFF;
  }
  
  /* <span class='box1'>[<A href='' */
  .box1 A:link{  /* 방문전 상태 */
    color: #FFFFFF;
    text-decoration: none; /* 밑줄 삭제 */
  }
 
  .box1 A:visited{  /* 방문후 상태 */
    color: #FFFFFF;
    text-decoration: none; /* 밑줄 삭제 */
  }
    
  .box1 A:hover{  /* A 태그에 마우스가 올라간 상태 */
    color: #FFFFFF;
    text-decoration: none; /* 밑줄 삭제 */
  }
  
  .box1 A:active{  /* A 태그를 클릭한 상태 */
    color: #AAAAAA;
    text-decoration: none; /* 밑줄 삭제 */
 
  }
  
    .hdiv{
    font-size: 0.8em; 
    opacity: 0.5;
  }
  
  
  